<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Document</title>
    </head>
    <body>
      <form action="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="submit" Value="Create">
    </body>
  </html>
